<h3>Edit User</h3>

<!--
html version of the form
<form action="/users" method="patch" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Username: <input type="text" name="user[username]"><br>
  Email: <input type="text" name="user[email]"><br>
  Password: <input type="password" name="user[password]"><br>
  <input type="submit" value="Submit">
</form> 

-->

<!--
Forms using form_tag
<%= form_tag('/users', method: "patch") do %>
	<%= label_tag(:username, "Username:") %>
	<%= text_field_tag(:username) %><br>

	<%= label_tag(:email, 'Email:') %>
	<%= text_field_tag(:email) %><br>

	<%= label_tag(:password, 'Password') %>
	<%= password_field_tag(:password) %><br>

	<%= submit_tag 'Submit' %>
<% end %>
-->


<%= form_for @user do |f| %>
	<ul>
	  <% @user.errors.full_messages.each do |error| %>
	  <li><%= error %></li>
	  <% end %>
	</ul>

	<%= f.label :username %>
	<%= f.text_field :username %><br>

	<%= f.label :email %>
	<%= f.text_field :email %><br>

	<%= f.label :password %>
	<%= f.password_field :password %><br>

	<%= f.submit 'Submit' %>
<% end %>